<h1>This is about in pages</h1>
<%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrRxLun5ylfgZHOg-BzdzZ8JBhtUQoZ4fgkk4B5UoUNL6vz5fP')%>
<%= link_to image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrRxLun5ylfgZHOg-BzdzZ8JBhtUQoZ4fgkk4B5UoUNL6vz5fP'), 'https://google.com' %>


